Python cache & compiled files
__pycache__/
*.py[cod]

# Virtual envs
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Log / temp
*.log

# WIP folder
Draft_Rename_Scripts

# at the root of the repo
echo '.idea/'
echo '/Scratch/'
echo 'OneDrive/'
# Ignore OneDrive backups
OneDrive/
**/OneDrive/**
